table,
th,
td {
    border: 1px solid #0852f3;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: center;
    padding: 10px;
}

table tr:nth-child(odd) {
    background-color: #eee;
}

table tr:nth-child(even) {
    background-color: white;
}

table tr:nth-child(1) {
    background-color: skyblue;
}

table tr:nth-child(2) {
    background-color: skyblue;
}